body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
    background-color: #14080e;
}

.clockClass {
    height: 100vh;
    width: 100%;
    color: #e9eb9e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.news-headline {
    text-align: center;
}

.ttsButtons {
    font-size: 1rem;
}

button {
    font-family: "Arial", sans-serif;
    color: #e9eb9e;
    font-size: 1rem;
    background-color: #14080e;
}

button:hover {
    cursor: pointer;
}